/* .test {
	color: blue;
} */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* .circle {
	border-radius: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.lime {
	height: 500px;
	width: 500px;
	background-color: lime;
}

.blue {
	width: 400px;
	height: 400px;
	background-color: royalblue;
}

.gold {
	width: 250px;
	height: 250px;
	background-color: gold;
}
.purple {
	width: 100px;
	height: 100px;
	background-color: purple;
} */
body {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Courier New", Courier, monospace;
	color: black;
	background-color: rgb(172, 155, 188);
}
/* 
button {
	font-size: 18px;
	font-family: sans-serif;
	margin: 20px;
	border: 1px solid purple;
	border-radius: 10px;
	height: 35px;
	width: 150px;
}

.toggle {
	background-color: rgb(135, 30, 173);
	color: white;
}

.test {
	margin-top: 20px;
	padding: 20px 40px;
	border-radius: 8px;
	background-color: rgb(193, 133, 133);
	color: #333;
}

button:hover {
	background-color: purple;
} */
